@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: sans-serif;
	/* font-family: "Poppins", sans-serif; */
}

:root {
	--scroll-size: 5px;
	--scroll-radius: 10px;
	/* --scroll-thumb: linear-gradient(45deg, #00aeff, #a68eff); */
	--scroll-thumb: linear-gradient(45deg, #111, #333);
}

body {
	overflow-x: hidden;
	scrollbar-color: var(--scroll-thumb-color, grey)
		var(--scroll-track, transparent);
	scrollbar-width: thin;
}

body::-webkit-scrollbar {
	width: var(--scroll-size, 10px);
	height: var(--scroll-size, 10px);
}
body::-webkit-scrollbar-track {
	background-color: var(--scroll-track, transparent);
	border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
body::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color, grey);
	background-image: var(--scroll-thumb, none);
	border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

.gradient-01 {
	background-image: linear-gradient(
		270deg,
		hsl(295deg 76% 51%) 0%,
		hsl(284deg 70% 73%) 26%,
		hsl(257deg 70% 86%) 39%,
		hsl(202deg 92% 90%) 50%,
		hsl(215deg 77% 81%) 61%,
		hsl(221deg 73% 70%) 74%,
		hsl(220deg 76% 51%) 100%
	);
	filter: blur(125px);
}

.hero-gradient {
	background: linear-gradient(
		97.86deg,
		#a509ff 0%,
		#34acc7 53.65%,
		#a134c7 100%
	);
}
/* .text-gradient {
	background: -webkit-linear-gradient(right, #77a1d3, #79cbca, #e684ae);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

.color-show {
	-webkit-text-fill-color: transparent;
	-webkit-animation: gradient-animation 20s ease-in-out fowards infinite;
	animation: gradient-animation 20s ease-in-out forwards infinite;
	background: linear-gradient(
		300deg,
		#ffee07,
		#ff2b6a,
		#ab4bff,
		#5ca2ff,
		#df1700
	);
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 360% 360%;
}
@keyframes gradient-animation {
	0% {
		background-size: 80% 80%;
	}
	30% {
		background-size: 120% 140%;
	}
	45% {
		background-size: 240% 240%;
	}
	60% {
		background-size: 180% 180%;
	}
	70% {
		background-size: 80% 80%;
	}
	85% {
		background-size: 90% 90%;
	}
	100% {
		background-size: 100% 100%;
	}
}
